.wrapper {
	max-width: 900px;
	min-width: 900px;
	margin: 0 auto;
}

* {
	font-family: Playfair display;
}

ul {
	margin-left: 200px;
}

ul li {
	padding-top: 50px;
	margin: 0 50px 50px 0;
	display: inline-block;
	color: gray;
	text-transform: uppercase;
	letter-spacing: 1px;
}


.content {
	display: inline-block;
	margin-left: 40px;
	padding-bottom: 20px;	
	width: 400px;
	color: gray;
}

img {
	width: 400px;
	height: 300px;
	margin-bottom: 20px;
}

span {
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: gray;
}

a:hover {
	color: pink;
}

.button{
	width: 150px;
	height: 50px;
	padding 0px;
	outline: none;
	border: 1px solid black;
	margin: 0 auto;
	display: block;
	cursor: pointer;
	background: #fff;
}

